.kanjicard__body {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    height:fit-content;
    padding: 20px 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 8px -9px #000000d8;
    margin-right: 15px;
}

.kanjicard__kanji {
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.kanjicard__kanji > h1 {
    font-size: 120px;
}

.kanjicard__translate > h6 {
    font-size: 20px;
}

.kanjicard__level > p{
    color: #989898;
}