@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.kanjicard__body {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    width: 9rem;
    height:20rem;
    padding: 20px 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 8px -9px #000000d8;
    margin-right: 1rem;
    margin-bottom: 1rem;
    animation: fadeIn linear 0.3s;
}

.kanjicard__body:hover {
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}

.kanjicard__kanji {
    font-family: 'Zen Antique', serif;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.kanjicard__kanji > h1 {
    font-size: 120px;
}

.kanjicard__kunyomi {
    overflow: hidden;
    white-space: nowrap;
}

.kanjicard__kunyomi > p {
    overflow: scroll;
}

.kanjicard__onyomi {
    overflow: hidden;
    white-space: nowrap;
}

.kanjicard__onyomi > p {
    overflow: scroll;
}

.kanjicard__kunyomi > p::-webkit-scrollbar{
    display: none;
}

.kanjicard__meaning {
    overflow: hidden;
    white-space: nowrap;  
}

.kanjicard__meaning > h6 {
    font-size: 20px;
    overflow: scroll;
}

.kanjicard__meaning > h6::-webkit-scrollbar{
    display: none;
}

.kanjicard__level > p{
    color: #989898;
}

@media only screen and (max-width: 380px) {
    .kanjicard__body {
        width: 7.1rem;
        height:18rem;
        margin-right: 0.5rem;
    }
}