@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

.app__body {
    display: flex;
}

.app__sidebar {
    width: 220px;
    height: 95vh;
    background-color: rgb(255, 240, 247);
}

.app__display {
    padding: 40px 0 20px;
    padding-left: 40px;
    padding-right: 20px;
    width: 100vw;
    height: 100vh;
}

.app__display > h1 {
    font-family: 'Zen Antique', serif;
    font-size: 40px;
}