.app__body {
    display: flex;
}

.app__sidebar {
    width: 220px;
    height: 95vh;
    background-color: rgb(255, 240, 247);
}

.app__display {
    padding: 40px 40px 0;
}

.app__kanjislide {
    display: flex;
    justify-content:space-evenly
}