/* .app__body {
    display: flex;
}

.app__display {
    padding: 40px 0 20px;
    padding-left: 30px;
    padding-right: 20px;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: aqua;
}

.app__display > h1 {
    font-family: 'Zen Antique', serif;
    font-size: 40px;
}

@media only screen and (max-width: 420px) {
    .app__display {
        padding-left: 0px;
        padding-right: 0px;
    }

    .app__display > h1 {
        padding-left: 20px;
    }
    .app__display > p {
        padding-left: 20px;
    }
} */